body {
    background-color: green;
    background: url("https://awesomewallpaper.files.wordpress.com/2013/07/spiderman_by_joekerruk-d5ccywk.jpg");
    background-attachment: fixed;
    background-position: center;
}

#admin_body {
    background-image: none;
}
#invitation {
    float: left;
    max-width: 25%;
}
h1 {
    text-align: center;
    color: white;
}

@media (max-width: 560px) {
    #container {
        margin-left: 3% !important;
        margin-right: 3% !important;
    }
}
@media (max-width: 992px) {
    #container {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

#container {
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
    background-color: #082d3a;
}

#left, #right {
    color: white;
    text-align: center;
    background-color: #5e1010;
!important;
}

#left {
    float: left;
}

#right {
    float: right;
}

#bookingConfirmation {
    color: white;
    text-align: left;
}

.welcome-text {
    padding-top: 2%;
}

.btn-edit {
    background-color: #5e1010;
    border-color: #5e1010;
    color: white;
    margin-bottom: 2%;
}

.btn-edit:hover, btn-edit:active {
    background-color: #9e1818;
    color: white;
}

.btn-card {
    background-color: white;
    color: black;
    border-color: #082d3a;
}

.btn-card:hover, .btn-card:active {
    color: white;
    background-color: #082d3a;
    border-color: #082d3a;
}

.btn-card-blue {
    color: white;
    background-color: #082d3a;
    border-color: #082d3a;
}

input {
    width: 80%;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #082d3a;
    color: white;

}

.modal-body {
    background-color: #5e1010;
    color: white;
}

span {
    color: white;
}

.table-body {
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #eeeeee;
}

.round {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#search, #setMaxTables {
    max-width: 260px;
}
#modify_booking_button, #delete_booking_button, #modify_comp_booking_button, #delete_comp_booking_button {
    visibility: visible;
}
#confirm_modify_button, #confirm_delete_button, #confirm_comp_modify_button, #confirm_comp_delete_button {
    visibility: hidden;
}
