@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

a:hover {
    text-decoration: none;
}

#background-div {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: url("/static/img/background2.jpg") fixed top;
    /*-webkit-filter: blur(3px);*/
    /*-moz-filter: blur(3px);*/
    /*-o-filter: blur(3px);*/
    /*-ms-filter: blur(3px);*/
    /*filter: blur(3px);*/
    z-index: -1;
}

#admin-body {
    background-image: none;
}

#invitation {
    float: left;
    max-width: 25%;
}

@media (max-width: 560px) {
    #container {
        margin-left: 3% !important;
        margin-right: 3% !important;
    }
}

@media (max-width: 992px) {
    #container {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .navbar {
        padding: .5rem 1rem !important;
    }
}

#container {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    color: white;
}

#welcome-text {
    margin-bottom: 5%;
}

.index-box {
    padding: 3%;
    margin-bottom: 3%;
    box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    background-color: rgba(8, 45, 58, 1);
    border-radius: 7px;
}

.box-hr {
    background-color: white;
    width: 70%;
}

#company_details {
    margin-bottom: 2%;
}

#left, #right {
    color: white;
    text-align: center;
    background-color: rgba(94, 16, 16, 0.7);
!important;
}

#left {
    float: left;
}

#right {
    float: right;
}

#bookingConfirmation {
    color: white;
    text-align: left;
}

.welcome-text {
    text-align: center;
    color: white;
    padding-top: 2%;
}

.btn-edit {
    background-color: #5e1010;
    border-color: #5e1010;
    color: white;
    margin-bottom: 2%;
}

.btn-edit:hover, btn-edit:active {
    background-color: #9e1818;
    color: white;
}

.btn-card {
    background-color: white;
    color: black;
    border-color: #082d3a;
}

.btn-card:hover, .btn-card:active {
    color: white;
    background-color: #082d3a;
    border-color: #082d3a;
}

.btn-card-blue {
    color: white;
    background-color: #082d3a;
    border-color: #082d3a;
}

.individualInput, .CompanyInput {
    width: 100%;
    text-align: center;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #082d3a;
    color: white;

}

.modal-body {
    background-color: #5e1010;
    color: white;
}

span {
    color: white;
}

.table-body {
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #eeeeee;
}

.round {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#maxNumberOfTables {
    display: table-caption;
!important;
}

.form-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, fontAwesome;
}

#modify_booking_button, #delete_booking_button, #modify_comp_booking_button, #delete_comp_booking_button {
    visibility: visible;
}

#confirm_modify_button, #confirm_delete_button, #confirm_comp_modify_button, #confirm_comp_delete_button {
    visibility: hidden;
}

.table-numbers {
    font-size: 1.4em;
}

.sad-DeadPool {
    width: 40%;
    height: auto;
}

.progress-bar {
    background-color: #5e1010;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(8, 45, 58, .5) 25%, transparent 25%, transparent 50%, rgba(8, 45, 58, .5) 50%, rgba(8, 45, 58, .5) 75%, transparent 75%, transparent);
}

#invitation_email {
    width: 50%;
}

.modify-booking-button {
    width: 45px !important;
}

.fa-bell {
    color: white;
}

#notification_div {
    top: 14px;
    position: relative;
}

#notification_number {
    top: -40px;
    right: -10px;
    width: 10px;
    position: relative;
    background-color: red;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    color: white;
    min-width: 25px;
    font-size: smaller;
    padding: 1px 1px 1px 1px;
    text-align: center;
}

#notification_bell {
    text-decoration: none;
    cursor: pointer;
}

#notification_dropdown {
    display: none;
    background-color: #343a40;
    height: 25rem;
    width: 20rem;
    top: 30px;
    left: -325%;
    position: absolute;
    opacity: 0;
    border: 1px solid;
    border-radius: 7px;
    transition: all .2s linear;
    z-index: 2;
}

#notification_dropdown_title {
    width: 100%;
    color: white;
    padding: 5px 10px 8px 10px;
    background-color: #343a40;
    border-radius: 7px;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.notification_null {
    text-align: center;
    color: #14c514;
    margin-top: 50px;
}

.notification_row {
    color: #ffffff;
    width: 100%;
    height: 70px;
    background: #343a40;
    border: 1px solid white;
    border-radius: 7px;
    border-left: 0;
    border-right: 0;
    padding: 20px 7px 0 7px;
}

.notification_row:hover {
    background-color: #18a2b9;
    color: white;
}

.unseen {
    color: #89191b;
    cursor: pointer;
}

.seen {
    color: #3A7734;
}

.navbar {
    padding: 0rem 1rem;
}

.visibility_null {
    opacity: 0;
}

.fa-exclamation {
    color: #ff0002;
}


