<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/admin_layout.js') }}" defer></script>
    {% if modified is defined %}
        <script src="{{ url_for('static', filename='js/modified_bookings.js') }}" defer></script>
    {% else %}
        <script src="{{ url_for('static', filename='js/admin.js') }}" defer></script>
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous"
          defer>
    <title>Admin</title>
</head>
<body id="admin-body">
{# Navbar modal #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="{{ url_for('admin_page', admin_name = admin_name ) }}">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ url_for('admin_page', admin_name = admin_name ) }}" id="menu-bookings"
                   class="nav-link">Foglalások</a>
            </li>
            <li class="nav-item">
                <span id="menu-invite" class="nav-link" data-toggle="modal"
                      data-target="#invitationModal">Meghívás</span>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('booking_settings') }}" id="booking-settings"
                   class="nav-link">Beállítások</a>
            </li>
            <li class="nav-item">
                <span id="menu-save-bookings" class="nav-link disabled">Foglalások mentése</span>
            </li>
        </ul>
        <div id="notification_div">
            <div id="notification_bell">
                <i class="fas fa-bell fa-2x mr-3"></i>
                {% if notification_number == 0 %}
                    <div id="notification_number" class="visibility_null">
                        {{ notification_number }}
                    </div>
                {% else %}
                    <div id="notification_number">
                        {{ notification_number }}
                    </div>
                {% endif %}
            </div>
            <div id="notification_dropdown">
                <div id="notification_dropdown_title">
                    Értesítések
                </div>
                {% if notification_number == 0 %}
                    <div class="notification_null">
                        <p>Nincsennek értesítések</p>
                        <i class="fas fa-check fa-3x"></i>
                    </div>
                {% else %}
                    <a href="{{ url_for('modified_table_bookings') }}">
                        <div class="notification_row">
                            <p><i class="fas fa-exclamation mr-2"></i>Történtek módosítások a foglalásokban</p>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if search is defined %}
            <div class="form-inline my-2 my-lg-0">
                <input id="searchInput" class="form-control mr-sm-4" type="search" placeholder="&#xf002; Keresés"
                       aria-label="Search">
            </div>
        {% endif %}
        <span class="navbar-text mr-3">
            Üdv, {{ admin_name }}!
        </span>
        <i class="fas fa-user-circle fa-2x mr-4 text-light"></i>
        <a href="{{ url_for('logout') }}">
            <button class="btn btn-outline-danger my-2 my-sm-0"><i class="fas fa-power-off"></i></button>
        </a>
    </div>
</nav>
{% block content %} {% endblock %}

<!-- Invitation modal -->
<div class="modal fade" id="invitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="invitationModalLabel">Admin meghívó küldése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <p>Add meg az email címét annak az embernek akit szeretnél meghívni adminnak</p>
                <br>
                <form action="{{ url_for('send_invitation') }}" method="POST">
                    <label for="invitation_email">Email</label>
                    <input type="text" name="invitation_email" id="invitation_email">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                <button type="submit" class="btn btn-info">Meghívó küldése</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modify, delete Individual booking modal -->
<div class="modal fade " id="admin-modification-modal" tabindex="-1" role="dialog"
     data-dismiss="modal" aria-labelledby="exampleModalLabel" data-backdrop="static"
     data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title">Foglalás módosítása/törlése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        id="mod-del-modal-close-button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <form action="{{ url_for('modify_delete_booking') }}" method="POST">
                    <div class="form-group">
                        <label for="name" class="form-control-label">Név:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="phone_number" class="form-control-label">Telefonszám:</label>
                        <input class="form-control" id="phone_number" name="phone_number">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">Email:</label>
                        <input class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="table_number" class="form-control-label">Asztalszám:</label>
                        <select name="table_number" id="table_number">
                            {% for i in range(1, 16) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type="hidden" id="booking_id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modify_booking_button" class="btn btn-info" data-toggle="modal">
                            Módosít
                        </button>
                        <button type="button" id="confirm_modify_button" data-dismiss="modal" class="btn btn-danger"
                                data-toggle="modal">Biztos módosítod?
                        </button>
                        <button type="button" id="delete_booking_button" class="btn btn-info" data-toggle="modal">
                            Töröl
                        </button>
                        <button type="button" id="confirm_delete_button" data-dismiss="modal" class="btn btn-danger"
                                data-toggle="modal">Biztos törlöd?
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modify, delete Individual booking modal -->
<div class="modal fade " id="admin-comp-modification-modal" tabindex="-1" role="dialog"
     data-dismiss="modal" aria-labelledby="exampleModalLabel" data-backdrop="static"
     data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title">Foglalás módosítása/törlése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        id="mod-del-modal-close-button_comp">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <form action="{{ url_for('modify_delete_booking') }}" method="POST">
                    <div class="form-group">
                        <label for="comp_name" class="form-control-label">Név:</label>
                        <input type="text" class="form-control" id="comp_name" name="comp_name">
                    </div>
                    <div class="form-group">
                        <label for="comp_phone_number" class="form-control-label">Telefonszám:</label>
                        <input class="form-control" id="comp_phone_number" name="comp_phone_number">
                    </div>
                    <div class="form-group">
                        <label for="comp_email" class="form-control-label">Email:</label>
                        <input class="form-control" id="comp_email" name="comp_email">
                    </div>
                    <div class="form-group">
                        <label for="comp_city" class="form-control-label">Város:</label>
                        <input class="form-control" id="comp_city" name="comp_city">
                    </div>
                    <div class="form-group">
                        <label for="comp_street_address" class="form-control-label">Közterület neve:</label>
                        <input class="form-control" id="comp_street_address" name="comp_street_address">
                    </div>
                    <div class="form-group">
                        <label for="comp_street_num" class="form-control-label">Közterület száma:</label>
                        <input class="form-control" id="comp_street_num" name="comp_street_num">
                    </div>
                    <div class="form-group">
                        <label for="comp_floor_door" class="form-control-label">Emelet, ajtó:</label>
                        <input class="form-control" id="comp_floor_door" name="comp_floor_door">
                    </div>
                    <div class="form-group">
                        <label for="comp_zip_code" class="form-control-label">Irányítószám:</label>
                        <input class="form-control" id="comp_zip_code" name="comp_zip_code">
                    </div>
                    <div class="form-group">
                        <label for="comp_vat_number" class="form-control-label">Adószám:</label>
                        <input class="form-control" id="comp_vat_number" name="comp_vat_number">
                    </div>

                    <div class="form-group">
                        <label for="comp_table_number" class="form-control-label">Asztalszám:</label>
                        <select name="comp_table_number" id="comp_table_number">
                            {% for i in range(1, 16) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type="hidden" id="comp_booking_id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modify_comp_booking_button" class="btn btn-info" data-toggle="modal">
                            Módosít
                        </button>
                        <button type="button" id="confirm_comp_modify_button" data-dismiss="modal"
                                class="btn btn-danger" data-toggle="modal">Biztos módosítod?
                        </button>
                        <button type="button" id="delete_comp_booking_button" class="btn btn-info" data-toggle="modal">
                            Töröl
                        </button>
                        <button type="button" id="confirm_comp_delete_button" data-dismiss="modal"
                                class="btn btn-danger" data-toggle="modal">Biztos törlöd?
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>