<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous"
          defer>
    <title>Table booking</title>
</head>
<body id="admin_body">
{# Navbar modal #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="{{ url_for('admin_page', admin_name = admin_name ) }}">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Menü
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{{ url_for('admin_page', admin_name = admin_name ) }}" id="menu-bookings"
                       class="dropdown-item btn-light">Foglalások</a>
                    <span id="menu-invite" class="dropdown-item btn-light" data-toggle="modal"
                          data-target="#invitationModal">Meghívás</span>
                    <div class="dropdown-divider"></div>
                    <span id="menu-save-bookings" class="dropdown-item disabled">Foglalások mentése</span>
                </div>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input id="searchInput" class="form-control mr-sm-4" type="search" placeholder="Keresés" aria-label="Search">
        </div>
        <span class="navbar-text mr-3">
            Üdv, {{ admin_name }}!
        </span>
        <i class="fas fa-user-circle fa-2x mr-4 text-light"></i>
        <a href="{{ url_for('logout') }}">
            <button class="btn btn-outline-danger my-2 my-sm-0"><i class="fas fa-power-off"></i></button>
        </a>
    </div>
</nav>
<div id="setMaxTables">
    <input type="text" id="maxNumberOfTables">
    <button id="maxTablesButton">Maximális asztalszám beállítása</button>
</div>
<div>
    <table>
        <thead>
        <tr>
            <td>Maximálisan foglalható asztalok száma</td>
            <td>Üres asztalok száma</td>
        </tr>
        </thead>
        <tbody id="maxTablesTableBody">

        </tbody>
    </table>
</div>
<div class="container-fluid">
    <div class="table-body p-0">
        <div class="bg-light round">
            <h3 class="table_headers p-4 mb-0">Magán foglalások <i class="fas fa-user"></i></h3>
        </div>
        <div class="panel-body">
            <table class="table" id="individual_table">
                <thead>
                <tr class="table_header">
                    <th id="indi_name" data-name="name" scope="col">Név <i class="fas fa-sort float-sm-right"></i></th>
                    <th id="indi_email" scope="col">Email</th>
                    <th id="indi_phone" scope="col">Telefonszám</th>
                    <th id="indi_table" data-name="booked_tables" scope="col">Foglalt asztalok száma <i
                            class="fas fa-sort float-sm-right"></i></th>
                    <th id="indi_time" data-name="date_time" scope="col">Foglalás időpontja <i
                            class="fas fa-sort float-sm-right"></i></th>
                </tr>
                </thead>
                <tbody id="indi_body">

                </tbody>
            </table>
        </div>
    </div>
    <div class="table-body p-0 mt-4">
        <div class="bg-light round">
            <h3 class="table_headers p-4 mb-0">Cég foglalások <i class="fas fa-building"></i></h3>
        </div>
        <div class="panel-body">
            <table class="table table-sm" id="company_table">
                <thead>
                <tr class="table_header">
                    <th id="company_name" data-name="name" scope="col">Cégnév <i class="fas fa-sort float-sm-right"></i>
                    </th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefonszám</th>
                    <th id="comp_table" data-name="booked_tables" scope="col">Foglalt asztalok száma <i
                            class="fas fa-sort float-sm-right"></i></th>
                    <th scope="col">Irányítószám</th>
                    <th scope="col">Város</th>
                    <th scope="col">Cím</th>
                    <th scope="col">Közterület</th>
                    <th scope="col">Házszám</th>
                    <th scope="col">Emelet, ajtó</th>
                    <th scope="col">Adószám</th>
                    <th id="company_time" data-name="date_time" scope="col">Foglalás dátuma <i
                            class="fas fa-sort float-sm-right"></i></th>
                </tr>
                </thead>
                <tbody id="company_body">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="invitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="invitationModalLabel">Admin meghívó küldése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <p>Add meg az email címét annak az embernek akit szeretnél meghívni adminnak</p>
                <br>
                <form action="{{ url_for('send_invitation') }}" method="POST">
                    <label for="invitation_email">Email</label>
                    <input type="text" name="invitation_email" id="invitation_email">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                <button type="submit" class="btn btn-info">Meghívó küldése</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


