<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Booking</title>
</head>
<body>
    <h1>Üdvözöllek az asztalfoglaló oldalon!</h1>
    <div id="container" >
        <p>
            Amennyiben asztalt szeretnél foglalni a kövekező börzére, azt alább megteheted.
            Kérlek válaszd a megfelelő oldalt. Töltsd ki az adatokat, majd kattints a "Foglalás" gombra.
            A foglalást követően emailban fogsz kapni egy kódot, aminek segítségével módosíthatod, illetve
            törölheted a foglalásod.
        </p><br>
    <div id="left">
        <h3>Magánszemély</h3>
        <form action="{{ url_for('booking') }}" method="POST">
            <label for="name">Név</label><br>
            <input type="text" name="name" id="name"><br>
            <label for="email">Email</label><br>
            <input type="text" name="email" id="email"><br>
            <label for="phone_number">Telefonszám</label><br>
            <input type="text" name="phone_number" id="phone_number"><br>
            <label for="booked_tables">Asztalszám</label><br>
            <select name="booked_tables" id="booked_tables"><br>
                <option value="1">1</option><p>db</p>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> <label>db</label><br><br>
            <button type="submit">Foglalás</button>
        </form>
    </div>
    <div id="right">
        <h3>Cég</h3>
        <form action="{{ url_for('booking') }}" method="POST">
            <label for="comp_name">Név</label><br>
            <input type="text" name="comp_name" id="comp_name"><br>
            <label for="comp_email">Email</label><br>
            <input type="text" name="comp_email" id="comp_email"><br>
            <label for="comp_phone_number">Telefonszám</label><br>
            <input type="text" name="comp_phone_number" id="comp_phone_number"><br>
            <label for="booked_tables">Asztalszám</label><br>
            <select name="booked_tables" id="booked_tables"><br>
                <option value="1">1</option><p>db</p>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> db<br><br>
            <button type="submit">Foglalás</button>
        </form>
    </div>
</div>
</body>
</html>