<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Booking</title>
</head>
<body>
    <h1>Üdvözöllek az asztalfoglaló oldalon!</h1>
    <div id="container" >
        <p>
            Amennyiben asztalt szeretnél foglalni a kövekező börzére, azt alább megteheted.
            Kérlek válaszd a megfelelő oldalt. Töltsd ki az adatokat, majd kattints a "Foglalás" gombra.
        </p><br>
    <div id="left">
        <h3>Magánszemély</h3>
        <form action="{{ url_for('booking') }}" method="POST">
            <label for="name">Név</label><br>
            <input type="text" name="name" id="name" required><br>
            <label for="email">Email</label><br>
            <input type="text" name="email" id="email" required><br>
            <label for="phone_number">Telefonszám</label><br>
            <input type="text" name="phone_number" id="phone_number" required><br>
            <label for="table_number">Asztalszám</label><br>
            <select name="table_number" id="table_number"><br>
                <option value="1">1</option><p>db</p>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> <label>db</label><br><br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking_confirmation_modal">Foglalás</button>

            <!--booking confirmation modal-->
            <div class="modal fade" id="booking_confirmation_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="bookingConfirmation">Foglalásod rögzítéséhez kérlek kattints az Ok gombra.
                        Néhány percen belül kapni fogsz egy emailt, benne egy hatjegyű foglalási kóddal.
                        Ennek segítségével módosíthatod vagy törölheted a foglalásod.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Ok</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div>
    <div id="right">
        <h3>Cég</h3>
        <form action="{{ url_for('booking') }}" method="POST">
            <label for="comp_name">Név</label><br>
            <input type="text" name="comp_name" id="comp_name"><br>
            <label for="comp_email">Email</label><br>
            <input type="text" name="comp_email" id="comp_email"><br>
            <label for="comp_phone_number">Telefonszám</label><br>
            <input type="text" name="comp_phone_number" id="comp_phone_number"><br>
            <label for="table_number">Asztalszám</label><br>
            <select name="table_number" id="table_number_comp"><br>
                {% for i in range(1, 6) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select> db<br><br>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#booking_confirmation_modal" >Foglalás</button>

        </form>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Foglalás módosítása/törlése</button>

<!--modify, delete modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Foglalás módosítása/törlése</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('modify_delete_booking') }}" method="POST">
          <div class="form-group">
            <label for="booking_number" class="form-control-label">Foglalási szám:</label>
            <input type="text" class="form-control" id="booking_number" name="booking_number" >
          </div>
          <div class="form-group">
            <label for="booking_email" class="form-control-label">Email:</label>
            <input class="form-control" id="booking_email" name="booking_email" >
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
              <button type="submit" class="btn btn-primary">Tovább</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>



</body>
</html>