<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
	<div class="row">
	<div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Admin Login.</h4>
                <form action="{{ url_for('login') }}" method="POST">
            <input type="text" id="userName" name="username" class="form-control input-sm chat-input" placeholder="user id" />
            </br>
            <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button type="submit" class="btn btn-primary btn-md">Login</button>
            </span>
                </form>
            </div>
            </div>

        </div>
	</div>
</div>
</body>
</html>